<div id="main">
  <h1>Movie List</h1>
  <div class="container">
    <div class="left-panel">
      <app-add-genre></app-add-genre>
      <app-add-language></app-add-language>
      <app-add-country></app-add-country>
      <app-add-director></app-add-director>
      <app-add-movie></app-add-movie>
    </div>
    <div class="middle-panel">
      <app-movie-list (movieSelected)="movieSelected($event)"></app-movie-list>
    </div>
    <div class="right-panel">
      <app-movie-details [movieID]="selected"> </app-movie-details>
    </div>
  </div>
</div>
